<top-bar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="#" target="_self">NeoPalbot's NeoInfopage</a></h1></li>
    </ul>
    <top-bar-section>
        <ul class="right">
            <li>
                <a href target="_self" ng-click="view.scrollTo('overview');">Overview</a>
            </li>
            <li>
                <a href target="_self" ng-click="view.scrollTo('preferences');">General properties</a>
            </li>
            <li>
                <a href target="_self" ng-click="view.scrollTo('quotes');">Quotes</a>
            </li>
            <li>
                <a href target="_self" ng-click="view.scrollTo('appointments');">Appointments</a>
            </li>
            <li>
                <a href target="_self" ng-click="view.scrollTo('presets');">Static responses</a>
            </li>
        </ul>
    </top-bar-section>
</top-bar>
<br />
<br />
<div class="row panel">
    <h3 id="overview">Overview</h3>
    <p>This page lists some general info about NeoPalbot and the various commands it offers. The contents of this page are synchronised with the bot and as such, new appointments, quotes, etc. will show up here as they are configured.</p>
</div>
<div class="row panel">
    <h3 id="preferences">General properties</h3>
    <p>Any interaction with the bot is restricted to both a global cooldown that applies to all users, and an additional cooldown per user. Meaning if a user A successfully triggers a command, no other user can trigger one until the global cooldown of {{view.palbotPreferences.globalCooldown}}s is over, and user A themselves can't trigger another command until the per-user-cooldown of {{view.palbotPreferences.userCooldown}}s has elapsed.</p>
    <p>The current settings for these cooldowns are:</p>
    <ul class="no-bullet">
        <li><b>Global cooldown:</b> {{view.palbotPreferences.globalCooldown}} second(s)</li>
        <li><b>User cooldown:</b> {{view.palbotPreferences.userCooldown}} second(s)</li>
    </ul>
</div>
<div class="row panel">
    <h3 id="quotes">Quotes</h3>
    <p>The quote command can be invoked by sending either <b>!q</b> or <b>!bq</b>, the latter being kept for legacy support. Both commands can also be followed by a character name the quote should be from, making the command structure as follows:</p>
    <ul class="no-bullet">
        <li><b>!q <i>character</i></b></li>
        <li><b>!bq <i>character</i></b></li>
    </ul>
    <p>Character names are case-insensitive but can't contain spaces. If no character is given or the given character is not known to NeoPalbot, a character will be <b>picked at random</b>. NeoPalbot will then respond with a randomly selected quote by that character. The currently available characters in no particular order are:</p>
    <ul>
        <li ng-repeat="quote in view.palbotQuotes"><b>{{quote.identifier}}</b></li>
    </ul>
</div>
<div class="row panel">
    <h3 id="appointments">Appointments</h3>
    <p>NeoPalbot stores a list of upcoming events and can give the scheduled date including a countdown when prompted to do so using the <b>!whens</b> command. The appointment name must be given as the parameter to this command, making the actual call look like this:</p>
    <ul class="no-bullet">
        <li><b>!whens <i>appointment</i></b></li>
    </ul>
    <p>Appointment names are case-insensitive and must not contain spaces. If the event is not known, NeoPalbot will notify the user about this. When the event has already happened, the bot will announce as much and delete the corresponding appointment from its memory banks. The currently available appointments are:</p>
    <ul>
        <li ng-repeat="appointment in view.palbotAppointments"><b>{{appointment.identifier}}</b></li>
    </ul>
</div>
<div class="row panel">
    <h3 id="presets">Static responses</h3>
    <p>What follows are commands that just respond with static strings and are not dynamic like the appointments, for instance. A single command might still yield different responses, though, since NeoPalbot can have multiple possible answers configured for a single command. The choice among these is made uniformly random. Currently available static commands are:</p>
    <ul>
        <li ng-repeat="preset in view.palbotPresets"><b>!{{preset.trigger}}</b></li>
    </ul>
</div>
